


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."BookingStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'ACTIVE',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE "public"."BookingStatus" OWNER TO "postgres";


CREATE TYPE "public"."UserRole" AS ENUM (
    'GUEST',
    'VENDOR',
    'ADMIN'
);


ALTER TYPE "public"."UserRole" OWNER TO "postgres";


CREATE TYPE "public"."VehicleCategory" AS ENUM (
    'NGANYA',
    'TOUR_VAN',
    'PRIVATE',
    'BUS'
);


ALTER TYPE "public"."VehicleCategory" OWNER TO "postgres";


CREATE TYPE "public"."VendorType" AS ENUM (
    'PRIVATE',
    'SACCO',
    'TSV'
);


ALTER TYPE "public"."VendorType" OWNER TO "postgres";


CREATE TYPE "public"."VerificationStatus" AS ENUM (
    'PENDING',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE "public"."VerificationStatus" OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."Booking" (
    "id" "text" NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "totalPrice" integer NOT NULL,
    "status" "public"."BookingStatus" DEFAULT 'PENDING'::"public"."BookingStatus" NOT NULL,
    "paymentRef" "text",
    "userId" "text" NOT NULL,
    "vehicleId" "text" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE "public"."Booking" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Review" (
    "id" "text" NOT NULL,
    "rating" integer NOT NULL,
    "comment" "text",
    "userId" "text" NOT NULL,
    "vehicleId" "text" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE "public"."Review" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."User" (
    "id" "text" NOT NULL,
    "email" "text" NOT NULL,
    "fullName" "text",
    "avatarUrl" "text",
    "phoneNumber" "text",
    "role" "public"."UserRole" DEFAULT 'GUEST'::"public"."UserRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."User" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Vehicle" (
    "id" "text" NOT NULL,
    "name" "text" NOT NULL,
    "plateNumber" "text" NOT NULL,
    "category" "public"."VehicleCategory" NOT NULL,
    "pricePerDay" integer NOT NULL,
    "currency" "text" DEFAULT 'KES'::"text" NOT NULL,
    "coverImage" "text" NOT NULL,
    "gallery" "text"[],
    "seats" integer NOT NULL,
    "transmission" "text" NOT NULL,
    "fuelType" "text" NOT NULL,
    "features" "jsonb" NOT NULL,
    "isAvailable" boolean DEFAULT true NOT NULL,
    "vendorId" "text" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."Vehicle" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."VendorProfile" (
    "id" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "type" "public"."VendorType" NOT NULL,
    "businessName" "text" NOT NULL,
    "bio" "text",
    "registrationDocUrl" "text",
    "kraPinUrl" "text",
    "isVerified" "public"."VerificationStatus" DEFAULT 'PENDING'::"public"."VerificationStatus" NOT NULL,
    "phone" "text" NOT NULL
);


ALTER TABLE "public"."VendorProfile" OWNER TO "postgres";


ALTER TABLE ONLY "public"."Booking"
    ADD CONSTRAINT "Booking_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Vehicle"
    ADD CONSTRAINT "Vehicle_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."VendorProfile"
    ADD CONSTRAINT "VendorProfile_pkey" PRIMARY KEY ("id");



CREATE INDEX "Booking_vehicleId_startDate_endDate_idx" ON "public"."Booking" USING "btree" ("vehicleId", "startDate", "endDate");



CREATE UNIQUE INDEX "User_email_key" ON "public"."User" USING "btree" ("email");



CREATE UNIQUE INDEX "User_phoneNumber_key" ON "public"."User" USING "btree" ("phoneNumber");



CREATE UNIQUE INDEX "Vehicle_plateNumber_key" ON "public"."Vehicle" USING "btree" ("plateNumber");



CREATE UNIQUE INDEX "VendorProfile_userId_key" ON "public"."VendorProfile" USING "btree" ("userId");



ALTER TABLE ONLY "public"."Booking"
    ADD CONSTRAINT "Booking_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."Booking"
    ADD CONSTRAINT "Booking_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES "public"."Vehicle"("id") ON UPDATE CASCADE ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."Review"
    ADD CONSTRAINT "Review_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."Review"
    ADD CONSTRAINT "Review_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES "public"."Vehicle"("id") ON UPDATE CASCADE ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."Vehicle"
    ADD CONSTRAINT "Vehicle_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "public"."VendorProfile"("id") ON UPDATE CASCADE ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."VendorProfile"
    ADD CONSTRAINT "VendorProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON TABLE "public"."Booking" TO "anon";
GRANT ALL ON TABLE "public"."Booking" TO "authenticated";
GRANT ALL ON TABLE "public"."Booking" TO "service_role";



GRANT ALL ON TABLE "public"."Review" TO "anon";
GRANT ALL ON TABLE "public"."Review" TO "authenticated";
GRANT ALL ON TABLE "public"."Review" TO "service_role";



GRANT ALL ON TABLE "public"."User" TO "anon";
GRANT ALL ON TABLE "public"."User" TO "authenticated";
GRANT ALL ON TABLE "public"."User" TO "service_role";



GRANT ALL ON TABLE "public"."Vehicle" TO "anon";
GRANT ALL ON TABLE "public"."Vehicle" TO "authenticated";
GRANT ALL ON TABLE "public"."Vehicle" TO "service_role";



GRANT ALL ON TABLE "public"."VendorProfile" TO "anon";
GRANT ALL ON TABLE "public"."VendorProfile" TO "authenticated";
GRANT ALL ON TABLE "public"."VendorProfile" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







